<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Select Crust</title>
  </head>
  <body>
    <p th:text="${product.name}" th:value="${product.name}"></p>

    <form action="/cart/add" method="post">
      <input type="hidden" name="productId" th:value="${product.id}" />
      <input type="hidden" name="key" th:value="${key}" />
      <div th:if="${product.type.name()=='PIZZA'}">
        <div th:each="entry : ${crustPrices}">
          <h3 th:text="'Size: ' + ${entry.key}"></h3>
          <span
            th:each="productPrice : ${product.prices}"
            th:if="${productPrice.size == entry.key}"
          >
            <strong>Price: </strong><span th:text="${productPrice.price}"></span
            ><br />
          </span>
          <div th:each="crustPrice : ${entry.value}">
            <!-- Radio button for each CrustPrice -->
            <label>
              <input
                type="radio"
                th:value="${crustPrice.id}"
                th:name="crustId"
                th:id="'crust_' + ${crustPrice.id}"
                th:checked="${crustPrice.id == check}"
              />
              <span th:text="${crustPrice.crust}"></span>-
              <span th:text="${crustPrice.additionalPrice}"></span>
              <!-- Display CrustPrice name --> </label
            ><br />
          </div>
        </div>
      </div>

      <label for="quantity">Quantity:</label>
      <input
        type="number"
        id="quantity"
        name="quantity"
        min="1"
        th:value="${quantity}"
        required
      /><br /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
